{# Sample page #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container pt-10 md:pt-20">

      <div class="row">
        <div class="col w-full md:w-7/12 md:ml-2/12">

          {% include "components/svg-wrapper.html.twig" with {
            component: 'samen-bedenken',
            class: ['hidden', 'md:block', 'anim-svg-in']
          } %}

          {% include "components/svg-wrapper.html.twig" with {
            component: 'samen-bedenken_mobile',
            class: ['md:hidden', 'anim-svg-in']
          } %}

        </div>
      </div>

    </div>
  </section>

  <section class="section text-body">
    <div class="container lg:pt-10">
      <div class="row">
        <div id="anim-trigger-list" class="col w-full md:w-5/12 lg:w-4/12 lg:ml-1/12">
          <ul>
          <li class="anim-move-in mb-6" data-anim-trigger="#anim-trigger-list" data-anim-delay="0">
            <span class="font-normal">Bel ons</span><br>
            <a class="underline" href="tel:{{ global_contact.meta('phone') }}">{{ global_contact.meta('phone') }}</a>
          </li>

          <li class="anim-move-in mb-6" data-anim-trigger="#anim-trigger-list" data-anim-delay="100">
            <span class="font-normal">Stuur ons een bericht</span><br>
            {{ encrypt_email(global_contact.meta('email'), 'underline') }}
          </li>

          <li class="anim-move-in" data-anim-trigger="#anim-trigger-list" data-anim-delay="200">
            <span class="font-normal">Bezoek ons op</span><br>
            <a class="underline" href="mailto:{{global_contact.meta('email')}}">{{global_contact.meta('email')}}</a>
            <br>
            <a class="underline" target="_blank" href="{{ post.meta('google_maps_url')}}">Google maps</a>
          </li>
          </ul>
        </div>
        <div class="col w-full mt-20 mb-10 md:my-0 md:w-7/12">
          {% include "components/image.html.twig" with {
            figure_class : "landscape",
            image: post.meta('image')
          } %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}{% endblock %}
