{# Sample page #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="header-offset pb-64 bg-green-dark text-green-light">
    <div class="container md:pt-20">

      <div class="row">
        <div class="col w-11/12 hidden lg:block">
          {% include "components/svg-wrapper.html.twig" with {
            component: 'gebouw-van',
            class: 'anim-hero-svg-in'
          } %}
          {# {% include "components/gebouw-van.svg.twig" %} #}
        </div>
        <div class="col w-11/12 lg:hidden">
          {# {% include "components/gebouw-van_mobile.svg.twig" %} #}
          {% include "components/svg-wrapper.html.twig" with {
            component: 'gebouw-van_mobile',
            class: ['md:hidden', 'anim-svg-in', 'pt-1']
          } %}

          {% include "components/svg-wrapper.html.twig" with {
            component: 'gebouw-van_tablet',
            class: ['hidden', 'md:block', 'anim-svg-in']
          } %}
        </div>
      </div>

    </div>
  </section>

  <div class="scroll-anchor" data-scroll-event="header-color" data-scroll-hook="0.001" data-scroll-offset="-55"></div>

  <section class="section -mt-48 md:-mt-40 text-black">
    <div class="container">
      <h3 class="text-caption text-green-light font-light mb-4">uitgelicht</h3>
      <div class="row flex-wrap">

        <div class="col w-full mb-12 md:mb-0 md:w-6/12">
          <a href="{{ post.meta('uitgelicht')[0].project.link }}">
            <div class="cursor-bekijk-wrapper">
              {% include "components/image.html.twig" with {
              figure_class: 'landscape-wide',
              image: post.meta('uitgelicht')[0].image
            } %}
              <div class="cursor-bekijk text-body">
                <span class="">bekijk</span>
              </div>
            </div>
            <p class="text-title leading-normal mt-4">
              <span class="underline">
                {{ post.meta('uitgelicht')[0].project.title }}
              </span>
            </p>
          </a>
        </div>

        <div class="col w-full md:ml-1/12 md:w-5/12 lg:mx-1/12 lg:w-4/12">
          <a href="{{ post.meta('uitgelicht')[1].project.link }}">
            <div class="cursor-bekijk-wrapper">
              {% include "components/image.html.twig" with {
              figure_class: 'portrait-wide',
              image: post.meta('uitgelicht')[1].image,
              size: 'portrait'
            } %}
              <div class="cursor-bekijk text-body">
                <span class="-mt-2">bekijk</span>
              </div>
            </div>

            <p class="text-title leading-normal mt-4">
              <span class="underline">
                {{ post.meta('uitgelicht')[1].project.title }}
              </span>
            </p>
          </a>
        </div>

      </div>

    </div>
  </section>

  <section class="section md:mb-20 text-green-dark">
    <div class="container">
      <div class="row items-end">

        <div class="col w-full lg:ml-1/12 md:w-6/12">
          <div class="w-full pb-8 lg:pb-16 md:-mt-32 md:pt-3 lg:mt-0 lg: pt-0">
            {% include "components/svg-wrapper.html.twig" with {
              component: 'ontwerpen-begint-bij_mobile',
              class: ['lg:hidden', 'anim-svg-in']
            } %}
            {% include "components/svg-wrapper.html.twig" with {
              component: 'ontwerpen-begint-bij',
              class: ['hidden', 'lg:block', 'anim-svg-in']
            } %}
          </div>

          <a class="text-body text-green-dark underline font-normal" href="{{ site.url }}/over-ons">Meer over ons</a>
        </div>

        <div class="col w-full md:w-6/12 lg:w-4/12">
          <p class="pt-20 mb:pt-0 md:block text-body">
            {{ post.meta('project_text') }}
          </p>

          <p class="pt-16">
            <a class="text-body text-green-dark underline font-normal" href="{{ site.url }}/projecten">Bekijk onze projecten</a>
          </p>
        </div>

      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}{% endblock %}
